<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sign Up Form</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;700;800&display=swap"
      rel="stylesheet"
    />
    <!-- CSS file -->
    <link rel="stylesheet" href="/css/createPassword.css" />
    <!-- Font Awesome 5 CDN link to add social icons in html5 registration form -->
    <link
      rel="stylesheet"
      href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
      integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
      crossorigin="anonymous"
    />
  </head>

  <body>
    <div class="container">
      <dive class="formWraper">
        <!-- Left section of responsive registration form -->

        <div class="formDiv">
          <h2>Create Password</h2>
          <hr />
          <p class="text"></p>
          <form method="POST" action="/create-password">
            <!-- Font Awesome Icons -->
            <% if(locals.userError){ %>
            <div class="error">
              <span
                class="closebtn"
                onclick="this.parentElement.style.display='none';"
                >&times;</span
              >
              <%= locals.userError %>
            </div>
            <% } %>

            <p class="text">
              You already have an account with this email address.Please create
              a password for continue.
            </p>

            <div class="formGroup">
              <i class="far fa-envelope"></i>
              <input type="email" name="email" id="email" placeholder="Email" />
            </div>
            <div class="formGroup">
              <i class="fas fa-lock"></i>
              <input
                type="password"
                name="password"
                id="password"
                placeholder="Password"
              />
            </div>
            <% if(locals.errors){ %>
            <div class="error">
              <span
                class="closebtn"
                onclick="this.parentElement.style.display='none';"
                >&times;</span
              >
              <%=locals.errors[0] %>
            </div>
            <% } %>

            <button type="submit" class="btn">Create</button>
          </form>
          <div class="already-div">
            <p>Back to</p>
            <a href="/signin">SignIn</a>
          </div>
        </div>
        <div class="already"></div>

        <!-- Right section of responsive registration form -->
        <div class="welcomeDiv"></div>
      </dive>
    </div>
  </body>
</html>
