* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #171717;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header__left img {
  object-fit: contain;
  height: 40px;
  margin-right: 10px;
}

.header {
  width: 100%;
  display: flex;
  position: sticky;
  align-items: center;
  top: 0;
  z-index: 999;
  justify-content: space-between;
  border-bottom: 0.1px solid lightgray;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
  background-color: #ba3737;
}

.header__left {
  display: flex;
  margin-left: 50px;
  align-items: center;
  font-size: 20px;
  color: #fff;
  cursor: pointer;
}
.logo-text {
  color: #fff;
}
.header__left p {
  margin-left: -10px;
}
.header__right {
  display: flex;
  margin-right: 40px;
}

.headerOption {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  margin-right: 20px;
  color: rgb(255, 255, 255);
  cursor: pointer;
}

.headerOption:hover {
  color: #171717;
}

.headerOption h3 {
  font-size: 12px;
  margin-top: 10px;
  font-weight: 400;
  padding-right: 10px;
}

.headerOption__icon {
  margin-right: 5px;
  height: 20px;
  width: 20px;
  padding-right: 10px;
}

/* Main Body */
.body__main {
  display: flex;
  margin-top: 35px;
  max-width: 1200px;
  margin-left: 20px;
  margin-right: 20px;
}
/* Sidebar */
.sidebar {
  position: sticky;
  top: 80px;
  flex: 0.2;
  width: 600px;

  border-radius: 10px;
  text-align: center;
  height: 600px;
}

.sidebar__top > img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-top: 10px;
  object-fit: cover;
}

.sidebar__top {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid lightgray;
  border-bottom: 0;

  height: 400px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: white;
  padding-bottom: 10px;
}

.sidebar__topAvatar {
  font-size: 100px;
}

.profile-image {
  border-radius: 50%;
  width: 200px;
  height: 200px;
}

.sidebar__stat {
  margin-top: 20px;
  display: flex;
  font-size: 22px;

  justify-content: space-between;
}

.sidebar__stat > p {
  color: gray;
  font-size: 18px;
  font-weight: 600;
}

.sidebar__statNumber {
  font-weight: bold;
  margin-left: 5px;
  color: #0a66c2 !important;
}

.sidebar__top > h4 {
  color: gray;
  font-size: 12px;
  margin-top: 5px;
  margin-bottom: 15px;
}

.sidebar__top > h2 {
  font-size: 18px;
}

.sidebar__bottom {
  text-align: left;
  padding: 10px;
  border: 1px solid lightgray;
  background-color: white;
  border-radius: 10px;
  margin-top: 10px;
}

.sidebar__recentItem {
  display: flex;
  font-size: 13px;
  color: gray;
  font-weight: bolder;
  cursor: pointer;
  margin-bottom: 5px;
  padding: 5px;
}

.sidebar__recentItem:hover {
  background-color: whitesmoke;
  border-radius: 10px;
  cursor: pointer;
  color: black;
}

.sidebar__hash {
  margin-right: 10px;
  margin-left: 10px;
}

.sidebar__bottom > p {
  font-size: 14px;
  padding-bottom: 10px;
}

/* Feed */
.feed {
  flex: 0.6;
  margin: 0 20px;
}

.feed__inputContainer {
  background-color: white;
  padding: 10px;
  padding-bottom: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.feed__input {
  border: 1px solid lightgray;
  border-radius: 30px;
  display: flex;
  padding: 10px;
  margin-top: 10px;
  color: gray;
  padding-left: 15px;
}

.feed-form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.add-name {
  width: 50%;
}

.feed-form button {
  border: 1px solid #ba3737;
  border-radius: 10px;
  font-size: 16px;
  background-color: #ba3737;
  color: #fff;
}

.feed-form button:hover {
  background-color: #812020;
}

.feed-form input {
  border: none;
  flex: 1;
  margin-left: 10px;
  outline-width: 0;
  font-weight: 600;
}

.feed__inputOptions {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.inputOption {
  display: flex;
  align-items: center;
  margin-top: 15px;
  color: gray;
  padding: 10px;
  cursor: pointer;
}

.makeRed {
  border: none;
  color: red;
}

.inputOption:hover {
  background-color: whitesmoke;
  border-radius: 10px;
}
.inputToggle {
  display: flex;
  align-items: center;
  margin-top: 15px;
  color: gray;
  padding: 10px;
  cursor: pointer;
}

.inputOption > a {
  margin-left: 5px;
  text-decoration: none;
  font-weight: bold;
}

.inputOption > a,
.inputOption > a:visited,
.inputOption > a:hover,
.inputOption > a:active {
  color: inherit;
}

.img-container {
  display: flex;
  flex-direction: column;
}

/* Post */
.post {
  background-color: white;
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 10px;
}

.post__header {
  display: flex;
  margin-bottom: 10px;
}

.post__info {
  margin-left: 20px;
  display: flex;
  flex-direction: column;
}

.post-description {
  margin-top: 50px;
}
.post__info > p {
  font-size: 15px;
  color: gray;
}

.post__info > h2 {
  font-size: 20px;
}

.content-image {
  border-radius: 5px;
  background-repeat: no-repeat;
  background-size: cover;
  width: 200px;
  height: 250px;
}

/* widgets */
.widgets {
  position: sticky;
  top: 80px;
  flex: 0.2;
  background-color: white;
  border-radius: 10px;
  border: 1px solid lightgray;
  height: fit-content;
  padding-bottom: 10px;
}

.widgets__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

.widgets__header > h2 {
  font-size: 16px;
  font-weight: 400;
}

.widgets__article {
  display: flex;
  padding: 10px;
  cursor: pointer;
}

.widgets__article:hover {
  background-color: whitesmoke;
}

.widgets__articleLeft {
  color: #0177b7;
  margin-right: 5px;
}

.widgets__articleLeft .material-icons {
  font-size: 15px;
}

.widgets__articleRight {
  flex: 1;
}

.widgets__articleRight > a {
  font-size: 14px;
  text-decoration: none;
  font-weight: bold;
}

.widgets__articleRight > a,
.widgets__articleRight > a :visited,
.widgets__articleRight > a :hover,
.widgets__articleRight > a :active {
  color: inherit;
}

.widgets__articleRight > p {
  font-size: 12px;
  color: gray;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #ba3737;
}

input:focus + .slider {
  box-shadow: 0 0 1px #ba3737;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

#likeBtn {
  color: gray;
}

.hide {
  display: none;
}

.readmore {
  border: none;
  outline: none;
  color: #ba3737;
  background-color: #fff;
  cursor: pointer;
  margin-top: 5px;
  font-size: 15px;
}

.error {
  color: #a80000;
  cursor: pointer;
}

.modal-container {
  margin-top: 20px;
  padding-top: 0px;
  position: relative;
}
.modal-container .modal-btn {
  padding: 10px;
  margin: 0 auto;
  color: #fff;
  font-size: 16px;
  line-height: 50px;
  background: #0177b7;
  border: 0;
  border-radius: 10px;
  cursor: pointer;
  text-align: center;
  box-shadow: 0 5px 5px -5px #333;
}
.modal-container .modal-btn:hover {
  background: #025988;
}
.modal-container .modal-content,
.modal-container .modal-backdrop {
  height: 0;
  width: 0;
  opacity: 0;
  visibility: hidden;
  overflow: hidden;
  cursor: pointer;
  transition: opacity 0.2s ease-in;
}
.modal-container .modal-close {
  color: #aaa;
  position: absolute;
  right: 5px;
  top: 5px;
  padding-top: 3px;
  background: #fff;
  font-size: 16px;
  width: 25px;
  height: 25px;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
}
.modal-container .modal-close:hover {
  color: #333;
}
.modal-container .modal-content-btn {
  position: absolute;
  text-align: center;
  cursor: pointer;
  bottom: 20px;
  right: 30px;
  background: #446cb3;
  color: #fff;
  width: 50px;
  border-radius: 2px;
  font-size: 14px;
  height: 32px;
  padding-top: 9px;
  font-weight: normal;
}
.modal-container .modal-content-btn:hover {
  color: #fff;
  background: #812020;
}
.modal-container #modal-toggle {
  display: none;
}
.modal-container #modal-toggle.active ~ .modal-backdrop,
.modal-container #modal-toggle:checked ~ .modal-backdrop {
  background-color: rgba(0, 0, 0, 0.6);
  width: 100vw;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 9;
  visibility: visible;
  opacity: 1;
  transition: opacity 0.2s ease-in;
}
.modal-container #modal-toggle.active ~ .modal-content,
.modal-container #modal-toggle:checked ~ .modal-content {
  opacity: 1;
  background-color: #fff;
  max-width: 400px;
  width: 400px;
  height: 450px;
  max-height: 450px;

  padding: 10px 30px;
  position: fixed;
  left: calc(50% - 200px);
  top: 12%;
  border-radius: 4px;
  z-index: 999;
  pointer-events: auto;
  cursor: auto;
  visibility: visible;
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.6);
}
@media (max-width: 400px) {
  .modal-container #modal-toggle.active ~ .modal-content,
  .modal-container #modal-toggle:checked ~ .modal-content {
    left: 0;
  }
}

.center-image {
  display: flex;
  align-items: center;
  justify-content: center;
}
.form-input-image {
  width: 200px;
  padding: 20px;
  background: #fff;
  box-shadow: -3px -3px 7px rgba(94, 104, 121, 0.377),
    3px 3px 7px rgba(94, 104, 121, 0.377);
}
.form-input-image input {
  display: none;
}
.form-input-image label {
  display: block;
  width: 45%;
  height: 45px;
  margin-left: 25%;
  line-height: 50px;
  text-align: center;
  background: #1172c2;

  color: #fff;
  font-size: 15px;
  text-transform: Uppercase;
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
}

.form-input-image img {
  width: 100%;
  display: none;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

.new {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.image-upload {
  margin-right: 50px;
  cursor: pointer;
}
